@font-face {
    font-family: 'pacificoregular';

    font-weight: 400;
    font-style:normal;
    src: url('webfontkit-20230217-111739/pacifico-regular-webfont.woff'),
    url('webfontkit-20230217-111739/pacifico-regular-webfont.woff2');
}

body {
    margin: 0;
    padding: 0px;
    font-family: 'pacificoregular';
    font-size: 16px;
    box-sizing: border-box;
    --btncolor: #16DB99;
  
} 

.wrapper{
    position: relative;
    margin-inline: auto;
 
    width: 600px;
}

#manu{
    position: absolute;
    margin-top: 750px;
   margin-left: 250px;
   border: none;
   background: none;
   opacity: 50%;
   transition: 0.2s;
  
}

#manu:hover{
    opacity: 100%;
    transition: 0.2s;
}


header{

    width: 600px;
    height: 167px;
    background-image: url('images/burg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
    z-index: 1;
    font-size: 40px;
    text-align: end;
   
  
    /* margin: 0px; */
}


h1{
    font-family: 'pacificoregular';
    text-align: center;
    text-shadow: #948d8d 0 0 10px;
    margin: 0;
   padding: 15px;
  color:rgb(48, 35, 13);
   font-size: 65px;
   background: rgba(255, 0, 0, 0.349);
 
  


}

main{
    height: 1019px;
    width: 600px;
    margin: 0px;
    /* margin-top: 167px; */
    padding-bottom: 6px;
}

main>section{
    border-top: 0px;
}

main>section+section+section{
    border-bottom: 0px;
}

.modal{
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-top: 52px;
    margin-left: 38px;
    margin-right: auto;
   border-radius: 5px;
   box-shadow: 0px 0px 30px #131212cc;
   font-family: smythe;
    width: 524px;
    height: 542px;
    background: #fff;
    z-index: 1;
}

.hidden{
    display: none;
}

.invisible{
    visibility: hidden;
}

.enter-card{
    margin-top: 47px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;

}

input{
    width: 475px;
    height: 71px;
    margin: 23px;
    border: 1.5px solid#757575;
    border-radius: 5px;
    padding-left: 26px;
}

#pay-btn{
    width: 475px;
    height: 71px;
    background: var(--btncolor);
    color: #fff;
   margin-inline:24px;
    margin-top: 23px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    border:none;
}

button{
    cursor: pointer;
}

section{
   display: flex;
    height: 185px;
    width: 508px;
    margin:45px;
    margin-top: 0px;
    border-top:1px solid grey;
    border-bottom:1px solid grey;
}

.content{
    
  font-family: smythe;
    margin-right:auto;
    margin-left: 0px;


}

.icon{
    width: 70px;
    height: 90px;
 
    margin-bottom: auto;
    margin-right: 30px;
    margin-top: 45px;
    font-size: 55px;
    text-align: center;
}
h3{
  
  font-family: 'pacificoregular';
    font-size: 28px;
    line-height: 17px;
    font-weight: 400;
    margin-inline: 0px;

}

h4{
    
   
    font-size: 28px;
    line-height: 24px;
    font-weight: 400;
    margin-block: 8px;
    margin-inline: 0px;
}

p{
    
   
    margin-block: 8px;
    margin-inline: 0px;
}

.add{
    width: 50px;
    height: 50px;
  text-align: center;
    margin-right: 45px;
    margin-block: 50px;
    border: solid black 1px;
    border-radius: 30px;
    font-size: 20px;
    padding: 5px;
    transition: 0.2s;
   
}

.add:hover{
    background: #73d84b96;
    text-shadow: 0 0 10px var(--btncolor) ;
    transition: 0.2s;
    font-size: 10px;
    border: 3px  green dotted;
}

.sum{
  
    width:508px;
    height: 319px;
    margin: 46px;
    background: #fff;
  

}

.sumary{
    display: flex;
    justify-content: stretch;
   
}


.poz1{
    margin-top: 22px;
    margin-bottom: 11px;
    height: 20px;
    }

.right {
    /* display: flex;
    flex-direction: column; */
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
    
}

.right>:first-child{
    margin-top:64px;
}

.left{
 
    margin-right: auto;
    width: 100%;
}
.left>:first-child{
    margin-top:64px;
}

.complete{
    width: 508px;
    height: 60px;
    background:var(--btncolor);
    margin-block: 53px;
    border-radius: 5px;
    color: aliceblue;
    font-size: 16px;
    font-weight: 700;
    border:none;
    font-family: smythe;
}

.remove{
    font-size: 12px;
   color:#BBBBBB;
   border: none;
   background: transparent;
   height: fit-content;
}

#order{
    
  font-family: smythe;
    text-align: center;
    margin-inline:auto ;
    margin-top: 0px;
    margin-bottom: 0px;
}


.total{
    
  font-family: smythe;
    border-top: solid 2px #393333;
    padding-top: 14px;
    margin-top: 31px;
    margin-bottom: 0px;
    padding-bottom: 0px;

}

.finish{
position:absolute;
    margin-top: 780px;
    margin-left: 38px;
    margin-right: auto;
   border-radius: 5px;
    width: 524px;
    height: 120px;
    background: #ECFDF5;
    text-align: center;
    font-family: smythe;
    font-size: 32px;
    transform: rotate3d(1turn);
    transition: 1s;
    z-index: 1;
}
.rate{
    margin-top: 25px;
}
.star{
    cursor: pointer;
    background: transparent;
    opacity: 20%;
    border: none;
    filter: blur(1.5px);
    transition: 0.2s;
}
.star:hover{
   filter:none;
   opacity: 70%;
   transition: 0.2s;
 
}

.star-clicked{
    opacity: 100%;
    /* box-shadow: 0 0 20px rgb(255, 255, 48) inset; */
    filter:none;
    background-image: radial-gradient(circle at 50%,rgb(206, 187, 18),#ECFDF5 80%) ;
    border:none;
    transition: 0.2s;
    cursor: none;
}

#message{
    font-family: smythe;
    color:#065F46;
    font-weight: 400;
    font-size: 32px;

}
