

body {
    margin: 0;
    padding: 0px;
    font-family: 'Verdana';
    font-size: 16px;
    box-sizing: border-box;
    --btncolor: #16DB99;
  
} 

.wrapper{
    position: relative;
    margin-inline: auto;
 
    width: 600px;
}

.modal{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 292px;
    margin-left: 38px;
    margin-right: auto;
   border-radius: 5px;
   box-shadow: 0px 0px 30px #131212cc;
    width: 524px;
    height: 542px;
    background: #fff;
}

.hidden{
    display: none;
}

.enter-card{
    margin-top: 47px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;

}

input{
    width: 475px;
    height: 71px;
    margin: 23px;
    border: 1.5px solid#757575;
    border-radius: 5px;
    padding-left: 26px;
}

#pay-btn{
    width: 475px;
    height: 71px;
    background: var(--btncolor);
    color: #fff;
   margin-inline:24px;
    margin-top: 23px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    border:none;
}

header{
    width: 600px;
    height: 167px;
    background-image: url('images/burg.jpg');
    
    background-size: cover;
   
    background-repeat: no-repeat;

    
   
    margin: 0px;
}

main{
 
    height: 1019px;
    width: 600px;
    margin: 0px;
    padding-bottom: 6px;
}

section{
   display: flex;
    height: 185px;
    width: 508px;
    margin:45px;
    margin-top: 0px;
}



.content{
    
  font-family: smythe;
    margin-right:auto;
    margin-left: 0px;


}

.icon{
    width: 70px;
    height: 90px;
    background: #000;
    margin-bottom: auto;
    margin-right: 30px;
    margin-top: 45px;
}
h3{
  
  font-family: smythe;
    font-size: 28px;
    line-height: 17px;
    font-weight: 400;
    margin-inline: 0px;

}

h4{
    
   
    font-size: 28px;
    line-height: 24px;
    font-weight: 400;
    margin-block: 8px;
    margin-inline: 0px;
}

p{
    
   
    margin-block: 8px;
    margin-inline: 0px;
}

i{
    width: 50px;
    height: 50px;
    background: #000;
    margin-right: 45px;
    margin-block: 50px;
}

.sum{
    
    width:508px;
    height: 319px;
    margin: 46px;
    background: #fff;

}

.sumary{
    display: flex;
    justify-content: stretch;
   
}

.right {
    /* display: flex;
    flex-direction: column; */
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
    
}



.left{
 
    margin-right: auto;
    width: 100%;
}

.complete{
    width: 508px;
    height: 60px;
    background:var(--btncolor);
    margin-block: 53px;
    border-radius: 5px;
    color: aliceblue;
    font-size: 16px;
    font-weight: 700;
    border:none;
}

.remove{
    font-size: 12px;
   color:#BBBBBB;
   border: none;
   background: transparent;
   height: fit-content;
}

#order{
    
  font-family: smythe;
    text-align: center;
    margin-inline:auto ;
    margin-top: 0px;
    margin-bottom: 0px;
}

.poz1{
margin-top:64px;
margin-bottom: 11px;
height: 20px;
}

.poz2{
margin-top: 11px;
height: 20px;
}

.total{
    
  font-family: smythe;
    border-top: solid 2px #393333;
    padding-top: 14px;
    margin-top: 31px;
    margin-bottom: 0px;
    padding-bottom: 0px;

}


